include README.md
include LICENSE
include requirements.txt
include .env.example
recursive-include templates *
recursive-include static *
recursive-include docs *
recursive-include config *
recursive-include src *
